/* Phantom Inc CSS for GTA RP __FEAR_AND_LOATHING_
   2019 - JD _ v2 */

/*  Import Fonts from Google!*/
/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

@font-face {
  font-family: GTA;
  src: url(fonts/pricedown_bl.ttf);
}

html {
  background-image: url("images/gta/01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  animation-duration: 45s;
  animation-name: bgrotate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  color: #e6e6e6;
  margin: auto;
  text-align: center;
  text-shadow: 2px 1px #b30000;
}

h2 {
  font-size: 20px;
  color: #e6e6e6;
  margin: auto;
  text-align: center;
  text-shadow: 2px 1px #b30000;
}

h3 {
  font-size: 15px;
  font-style: italic;
  color: #e6e6e6;
  margin: auto;
  text-align: center;
  text-shadow: 2px 1px #b30000;
}

h4 {
  font-size: 15px;
  font-style: italic;
  color: #e6e6e6;
  background-color: #383838;
  padding: 2px 2px 2px 2px;
  text-align: center;
  text-shadow: 2px 1px #b30000;
  width: 60%;
}

notice {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 800px;
  border: 2px dashed white;
}

ul,li {
    float: inherit;
    display: inline;
}

.menu {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid gray;
  color: white;
  background-color: #383838;
  background-blend-mode: luminosity;
  padding: 10px 10px;
  margin: 2px 2px;
  text-align: center;
}

.menu:hover {
  background-color: #383838;
  color: #ff9933;
  opacity: 1.0;
  border: 1px solid #ff9933;
}

.logo {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
}

footer {
  position: fixed;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  bottom: 10px;
}

table, tr {
  border: 2px solid white;
  background-color: #383838;
}

.dropdown {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    color: white;
    background-color: #383838;
    display: inline;
    position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #383838;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  color: white;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: inline;
}
