@import url(fontawesome.css);
@import url(all.css);
@import url(brands.css);
@import url(regular.css);
@import url(solid.css);
@import url(v4-shims.css);
@import url(v4-shims.min.css);

@font-face {
  font-family: fontawesome;
  src: url(fonts/fa-regular-400.woff);
}

html,footer,div,table{
  font-family: sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

body{
  /* background: grey url("images/background.jpg"); */
  background: linear-gradient(gray, #383838, gray);
}
ul li{
    float: center;
    display: inline-block;
}

.menu{
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  background-color: MediumSeaGreen;
  padding: 15px 15px;
  margin: 2px 2px;
  text-align: center;
}

.menu:hover {
  background-color: white;
  color: grey;
  opacity: 0.3;
}
