/* Phantom Inc CSS
   2019 - 2020 - JD _ v2.3 */
@import url(fontawesome.css);
@import url(all.css);
@import url(brands.css);
@import url(regular.css);
@import url(solid.css);
@import url(v4-shims.css);
@import url(v4-shims.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: fontawesome;
  src: url(fonts/fa-regular-400.woff);
}

html {
  /* background: url("images/background.jpg"); */
  background: linear-gradient(gray, #383838, gray);
  background-position: center;
  background-attachment: fixed;
}

a:link {
  color: #00e600;
}

a:visited {
  color: green;
}

a:hover {
  color: #8bc34a;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
  padding-top: 10px 20px 15px 15px 15px;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  margin: auto;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  margin: auto;
  text-align: center;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: orange;
  margin: auto;
  text-align: center;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  color: white;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: square;
  border: 1px solid #8bc34a;
  width: 33%;
  margin: auto;
  text-align: left;
  font-size: 15px;
}

navigation {
 display: inline-block;
 align-content: center;
}

notice {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 800px;
  border: 2px dashed white;

}

div {
  font-family: 'Roboto', sans-serif;
  color: white;
  display: inline-block;
}

table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 45%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4d4d4d;
}

.update {
    list-style: inside;
    text-align: center;
    display: block;
}

.menu {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid white;
  color: white;
  background-color: #383838;
  padding: 16px 32px;
  margin: 4px 2px;
}

.menu:hover {
  background-color: #383838;
  color: #8bc34a;
  opacity: 1.5;
  border: 1px solid #8bc34a;
}

.logo {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer {
  position: fixed;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  bottom: 12px;
}
