/* Phantom Inc Shop.CSS
   2019 - 2020 - JD _ v2.4 */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

html {
  /* background: url("images/background.jpg"); */
  background: linear-gradient(#6B8E23,#708090,#383838);
  background-position: center;
  background-attachment: fixed;
}

a:link {
  color: #00e600;
}

a:visited {
  color: green;
}

a:hover {
  color: #00ff00;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 150px;
}

h1 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 50px;
  color: white;
  margin: auto;
  text-align: center;
}

h2 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 25px;
  color: white;
  margin: auto;
  text-align: center;
}

h3 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 15px;
  color: white;
  margin: auto;
  text-align: center;
}

h4 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 14px;
  font-style: italic;
  color: white;
  margin: auto;
  text-align: center;
}

h5 {
  font-family: 'Noto Sans Mono', monospace;
  font-size: 12px;
  font-style: bold;
  color: white;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: square;
  border: 1px solid #00ff00;
  width: 45%;
  margin: auto;
  text-align: left;
}

navigation {
 display: inline-block;
 align-content: center;
}

notice {
  font-family: 'Noto Sans Mono', monospace;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 800px;
  border: 2px dashed white;

}

div {
  font-family: 'Noto Sans Mono', monospace;
  align-content: center;
}

.main {
  margin: auto;
  max-width: 80%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 150px;
}

  .price {
    font-family: 'Noto Sans Mono', monospace;
    color: #00ff00;
  }

  .product {
    font-family: 'Noto Sans Mono', monospace;
    color: white;
    display: inline-block;
    border-radius: 15px;
    border: 1.5px solid #00ff00;
    padding: 10px;
    max-width: 306px;
}
.featuredproduct {
  background-image: linear-gradient(transparent,#383838);
  font-family: 'Noto Sans Mono', monospace;
  color: white;
  display: inline-block;
  border-radius: 15px;
  border: 1.5px solid #00ff00;
  padding: 15px;
  max-width: 706px;
}

.productbtn {
  font-size: 15px;
  font-family: 'Noto Sans Mono', monospace;
  border: 1px solid white;
  color: white;
  background-color: #383838;
  padding: 16px 32px;
  margin: 4px 2px;
}

.productbtn:hover {
  background-color: #383838;
  color: #00ff00;
  opacity: 1.5;
  border: 1px solid #00ff00;
}

table {
  font-family: 'Noto Sans Mono', monospace;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4d4d4d;
}

.bubble {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid blue;
  font-size: 16px;
  font-family: 'Noto Sans Mono', monospace;
  border: 1px solid white;
  color: white;
  background-color: #383838;
  padding: 16px 32px;
  margin: 4px 2px;
}

.bubble .bubbletext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: lime;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 15px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 50%;
  margin-left: -50%;
  opacity: 0;
  transition: opacity 1s;
}

.bubble .bubbletext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.bubble:hover .bubbletext {
  visibility: visible;
  opacity: 1;
  border: 1px solid #8bc34a;
}

.menu {
  background-color: #383838;
  font-size: 15px;
  font-family: 'Noto Sans Mono', monospace;
  border: 1px solid #00ff00;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
}

.menu:hover {
  background-color: transparent;
  color: #00ff00;
  border: 1px solid #00ff00;
}

.pagehere {
  font-size: 15px;
  font-family: 'Noto Sans Mono', monospace;
  background-image: linear-gradient(transparent,#383838);
  background-color: transparent;
  color: #00ff00;
  padding: 16px 32px;
  margin: 4px 2px;
  border: 1px solid #00ff00;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 15px;
}

.logo {
  margin: 15px;
}

footer {
  position: fixed;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  bottom: 12px;
}

/* ~  ~  ~  ~  ~  BELOW THIS LINE IS MODAL STYLE ONLY   ~  ~  ~  ~  ~ */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
